.container {
  padding: 24px;
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  max-width: 1100px;
  margin: 0 auto;
}

.pix{
  font-size:10px
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  margin-top: 32px;
  text-align: center;
  font-size: 0.75rem;
}

.themeSwitcher {
  border: none;
  background-color: transparent;
  padding: 0;

  color: var(--text-color-secondary);
  margin-right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.flag_h{
  width: 100px;
  border-radius: 8px !important;
  -webkit-box-shadow: 4px 5px 13px 0px rgba(50, 50, 50, 0.69);
  -moz-box-shadow:    4px 5px 13px 0px rgba(50, 50, 50, 0.69);
  box-shadow:         4px 5px 13px 0px rgba(50, 50, 50, 0.69);
}

.andr_h{
  width: 100px;
  border-radius: 8px !important;
  -webkit-box-shadow: 4px 5px 13px 0px rgba(50, 50, 50, 0.69);
  -moz-box-shadow:    4px 5px 13px 0px rgba(50, 50, 50, 0.69);
  box-shadow:         4px 5px 13px 0px rgba(50, 50, 50, 0.69);
}

.mim{
  margin-right: 5px;
}